﻿<div ng-init="initialize()">
    <h1>{{document.name}}</h1>
    <a href="{{apiUrl}}/File/{{document.id}}" target="_blank">Download File</a>
    
    <div>
        <h2>Related Documents</h2>
        <ul>
            <li ng-repeat="ranking in documentRanking.rankings">
                <a href="#/document/{{ranking.id}}">{{ranking.name}} -- {{ranking.rank}}</a>
                <a href="{{apiUrl}}/File/{{ranking.id}}" target="_blank">Download File</a>
            </li>
        </ul>
    </div>
    
</div>
