﻿<div>
    <input type="text" ng-model="searchCriteria.terms"/><button ng-click="search()">Search</button>
</div>

<div>
    <ul>
        <li ng-repeat="result in searchResults">
            <a href="#/document/{{result.id}}" target="_blank">{{result.name}}</a>
        </li>
    </ul>
</div>